.about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.about-content{
    width: 80%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 5px;
}
.about-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}